body {
  color: #ddd;
  background-color: #222;
}

h1,
.radiostatus,
.module.alarm .status {
  color: #888;
}

input {
  background-color: #ddd;
  color: #222;
}

input[type='submit'] {
  background-color: #D6264F;
  color: #ddd;
}

nav {
  background-color: #333;
}

.navlink.active {
  background-color: #222;
}

.playbackbutton,
footer em {
  color: #D6264F;
}
.module.alarm input {
  border-color: #D6264F;
}

.radiostatus .title,
.module.alarm .status .time {
  color: #FFBC42;
}

.errors {
  color: #911;
  background-color: #ddd;
}
