html,
body {
  position: relative;
  top: 0;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  display: flex; /* This is important for the footer to stay at the bottom */
  flex-direction: column;
  font-family: 'Krona One', Arial, sans-serif;
  font-size: 14px;'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  font-weight: 300;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

h1 {
  font-size: 1.5em;
  line-height: 1em;
  margin-bottom: 1em;
  margin-left: 0;
}

input {
  box-sizing: border-box;
  min-height: 35px;
  padding: 6px 10px;
  margin-right: 10px;
  border-radius: 6px;
  border-style: double;
  font-family: 'Krona One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.1em;
}
input[type='submit'] {
  margin-bottom: 15px;
}
input[type='submit']:hover,
.submit:hover,
.stationlink:hover {
  cursor: pointer;
}

.inline {
  display: inline
}

nav {
  position: fixed;
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlink {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
}

.navlink .material-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  font-size: 36px;
}
.navlink .label {
  margin: 22px;
}

main {
  padding: 80px 10px 40px 10px;
  margin-bottom: 30px;
}

main > .module {
  display: none;
}
main > .module.active {
  display: block;
}

.block {
  margin-top: 6px;
  margin-bottom: 18px;
}

.material-icons {
  vertical-align: middle;
  font-size: 48px;
}

.radiocontrols {
  margin-bottom: 20px;
}

#stationlist {
  margin-top: 22px;
  padding-left: 10px;
  list-style: none;
  line-height: 3em;
}
#stationlist .material-icons {
  margin-right: 15px;
}

#stationfilter {
  min-width: 18em;
}

.radiostatus,
.module.alarm .status,
input[type='submit'] {
  font-size: 1.2em;
  line-height: 1.8;
}
.radiostatus .title {
  font-size: 1.5em;
}

#alarmtime {
  margin-left: 10px;
}

footer {
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 10px;
  font-size: 0.8em;
}


/* fake equalizer shit */

.equaliser-container {
    height: 50px;
    width: 100%;
    margin: 0 0;
    padding: 0 0 0 0;
    position: relative;
}

.colour-bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background: #888;
}

.equaliser-column {
    width: 20px;
    float: left;
    margin: 0 5px 0 0;
    padding: 0;
    height: 40px;
    position: relative;
    list-style-type: none;
}

.equaliser-column:nth-child(1) .colour-bar {
    animation: color-bar 2s 1s ease-out alternate infinite;
}

.equaliser-column:nth-child(2) .colour-bar {
    animation: color-bar 2s 0.5s ease-out alternate infinite;
}

.equaliser-column:nth-child(3) .colour-bar {
    animation: color-bar 2s 1.5s ease-out alternate infinite;
}

.equaliser-column:nth-child(4) .colour-bar {
    animation: color-bar 2s 0.25s ease-out alternate infinite;
}

.equaliser-column:nth-child(5) .colour-bar {
    animation: color-bar 2s 2s ease-out alternate infinite;
}
.equaliser-column:nth-child(6) .colour-bar {
    animation: color-bar 2s 0.9s ease-out alternate infinite;
}
.equaliser-column:nth-child(7) .colour-bar {
    animation: color-bar 2s 0.8s ease-out alternate infinite;
}
.equaliser-column:nth-child(8) .colour-bar {
    animation: color-bar 2s 2.2s ease-out alternate infinite;
}
.equaliser-column:nth-child(9) .colour-bar {
    animation: color-bar 2s 1.4s ease-out alternate infinite;
}

.equaliser-column:last-child {
    margin-right: 0;
}

@keyframes color-bar {
    0% {
        height: 1px;
        background: #888;
    }
    10% {
        height: 3px;
        background: #888;
    }
    20% {
        height: 5px;
        background: #888;
    }
    30% {
        height: 2px;
        background: #888;
    }
    40% {
        height: 7px;
        background: #888;
    }
    50% {
        height: 9px;
        background: #888;
    }
    60% {
        height: 3px;
        background: #888;
    }
    70% {
        height: 8px;
        background: #888;
    }
    80% {
        height: 5px;
        background: #888;
    }
    90% {
        height: 3px;
        background: #888;
    }
    100% {
        height: 1px;
        background: #888;
    }
}
